<!DOCTYPE html>
<html>
<head>
  <title>Registration system PHP and MySQL</title>
</head>
<body>
    <br><br><br><br><br><br>
  <div class="header">
  	<h2>Register</h2>
  </div>
  	<div class="input-group">
		<label>Id</label>
		<br>
  	  <input type="text" name="Id" >
  	</div>
  	<div class="input-group">
		<br>
		<label>Email</label>
		<br>
  	  <input type="email" name="email" >
  	</div>
  	<div class="input-group">
		<br>
		<label>Password</label>
		<br>
  	  <input type="password" name="password_1">
  	</div>
  	<div class="input-group">
		<br>
		<label>Confirm password</label>
		<br>
  	  <input type="password" name="password_2">
  	</div>
  	<div class="input-group">
		<br>
  	  <button type="submit" class="btn" name="reg_user">Register</button>
      </div>
      <br><br><br><br><br>
    

</body>
</html>